<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title | escape }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <p>Last modified {{ site.static_files.first.modified_time | date: "%Y-%m-%d %T %Z" }}.<br>
    <font size=-1>Copyright {{ site.time | date: "%Y" }} Joe Gorse, all rights reserved.</font></p>
    <p>
    {% for file in site.static_files %}
      {{ file.modified_time }} {{ file.path }}<br>
    {% endfor %}
    {% for p in site.posts %}
      {{ p.last_modified_date }} {{ p.url }} <br>
    {% endfor %}
    {% for p in site.pages %}
      {{ p.last_modified_date }} {{ p.url }} <br>
    {% endfor %}
    {{ page.last_modified_date | date: "%Y-%m-%d %T %Z" }}
    </p>
  </div>



</footer>
